html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@keyframes flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes typed {
  from {
    width: 0%;
    opacity: 0;
    box-shadow: 0px 0px 0px 0px;
  }
  to {
    width: 20%;
    opacity: 1;
    box-shadow: 0px 0px 5px 0.5px;
  }
}
* {
  box-sizing: border-box;
}

.start-screen {
  display: flex;
  -moz-display: flex;
  -webkit-display: flex;
  -ms-display: flex;
  justify-content: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  align-items: center;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.start-screen .start-logo-container {
  display: flex;
  width: 420px;
  height: 160px;
}
.start-screen .start-logo-container img {
  width: 0%;
  height: 150px;
  margin: 5px;
}
.start-screen .start-logo-container img:nth-child(1n + 1) {
  animation: typed 0.01s linear forwards 0.5s;
}
.start-screen .start-logo-container img:nth-child(1n + 2) {
  animation: typed 0.01s linear forwards 1s;
}
.start-screen .start-logo-container img:nth-child(1n + 3) {
  animation: typed 0.01s linear forwards 1.5s;
}
.start-screen .start-logo-container img:nth-child(1n + 4) {
  animation: typed 0.01s linear forwards 2s;
}
.start-screen .start-logo-container .cursor-container {
  display: inline-block;
  height: 100%;
  width: 20%;
  animation: flash 0.5s linear infinite alternate;
}
.start-screen .start-logo-container .cursor-container .cursor {
  height: 100%;
  width: 5px;
  margin-left: 10px;
  background-color: orange;
}
