@keyframes flash {
    from {
        opacity:1;
    }
    to {
        opacity: 0;
    }
}

@keyframes typed {
    from {
        width: 0%;
        opacity: 0;
        box-shadow: 0px 0px 0px 0px;
    }

    to {
        width: 20%;
        opacity: 1;
        box-shadow: 0px 0px 5px 0.5px;
    }
}

@keyframes untype {
    0% {
        width: 0%;
        opacity: 0;
        box-shadow: 0px 0px 0px 0px;
        margin:0;
    }

    1% {
        width: 20%;
        opacity: 1;
        box-shadow: 0px 0px 5px 0.5px;
        margin: 5px;
    }
    
    99% {
        width: 20%;
        opacity: 1;
        box-shadow: 0px 0px 5px 0.5px;
        margin: 5px;
    }


    100% {
        width: 0%;
        opacity: 0;
        box-shadow: 0px 0px 0px 0px;
        margin:0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(360deg);
    }
}

@keyframes slideLeft {
    0% {
        margin-left: 100%;
        transform:rotate(0deg);
    }
    100% {
        margin-left: 0;
        transform: rotate(360deg);
    }
}

@keyframes placard {
    0% {
        opacity: 1;
        transform: translateY(100%);
    }
    
    80% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

@keyframes incorrect {
    from {
        color: red;
        border:1px solid red;
        background-color: rgb(250, 159, 159);
    }

    to {
        border: none;
        background-color: rgba($main-gray, 0.1);
    }
}

@keyframes correct {
    from {
        border:1px solid greenyellow;
        background-color: #d7f2c7;
    }

    to {
        border: none;
        background-color: rgba($main-gray, 0.1);
    }
}

@keyframes warning {
    from {
        outline: 4px solid red;

    }
    to {
        outline: none;
    }
}