* {
    box-sizing: border-box;
};

.start-screen {
    @include flex-box(display, flex);
    @include flex-box(justify-content, center);
    @include flex-box(align-items, center);
    
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    .start-logo-container {
        display:flex;
        width: 420px;
        height: 160px;
        
        img {
            width: 0%;
            height: 150px;
            margin: 5px;

            @for $i from 1 through 4 {
                &:nth-child(1n + #{$i}) {
                    animation: typed 0.01s linear forwards #{$i/2}s;
                }
            }
        }

        .cursor-container {
            display: inline-block;
            height: 100%;
            width: 20%;

            animation: flash 0.5s linear infinite alternate;

            .cursor {
                height:100%;
                width: 5px;
                margin-left: 10px;
                background-color: orange;
            }
        }
    }
}