* {
    box-sizing: border-box;
};

.start-screen {
    @include flex-box(display, flex);
    @include flex-box(flex-direction, column);
    @include flex-box(justify-content, center);
    @include flex-box(align-items, center);
    
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    background-color: white;

    transition: transform 1s linear;

    .start-logo-container {
        display:flex;
        width: 420px;
        height: 160px;
        
        img {
            width: 0%;
            height: 150px;
            margin: 5px;

            @for $i from 1 through 5 {
                @if($i == 2){
                    &:nth-child(#{$i}) {
                        animation: untype 0.50s linear forwards #{$i/2}s;
                    }
                } @else if ($i == 1){
                    animation: typed 0.01s linear forwards #{$i/2}s;
                } @else {
                    &:nth-child(#{$i}) {
                        animation: typed 0.01s linear forwards #{$i}s;
                    }
                }
            }
        }

        .cursor-container {
            display: inline-block;
            height: 100%;
            width: 20%;

            animation: flash 0.5s linear infinite alternate;

            .cursor {
                height:100%;
                width: 5px;
                margin-left: 10px;
                background-color: orange;
            }
        }
    }
}

.start-btn {
   font-family: Megrim; 
   border:none;
   font-size: 3rem;
   margin-top: 100px;
   opacity: 0;

   animation: fadeIn 1s linear forwards 5.5s;
}