
//margins
//========

$logo-margins: 10%;
$main-margins: 3% 5% 5% 3%;
$main-paddings: 3%;
$form-elem-margins:3%;
$form-elem-margins-mobile:2%;

//colors
//=======
$main-orange:#cb6309;
$main-gray: #4e565d;


//FONTS
//=======

$main-font: 'Major Mono Display';
$console-font: 'Ubuntu Mono';
$logo-font: Lobster;

$logo-font-size: 20rem;
$logo-font-size-mobile: 10rem;

//BREAK POINTS
//=============

$mobile: 400px;

//VIDEO measures
//==============

$video-width: 100%;
$video-height: (($video-width * 64.39)/100) + 'px';
